{% extends "results.html" %}{% block body %}<pre><h2>Docker Container Logs fe328797b774 </h2>  / # / # [Jping google.com
 PING google.com (172.217.7.14): 56 data bytes
 64 bytes from 172.217.7.14: seq=0 ttl=37 time=0.646 ms
 64 bytes from 172.217.7.14: seq=1 ttl=37 time=0.500 ms
 64 bytes from 172.217.7.14: seq=2 ttl=37 time=0.491 ms
 64 bytes from 172.217.7.14: seq=3 ttl=37 time=0.448 ms
 64 bytes from 172.217.7.14: seq=4 ttl=37 time=0.401 ms
 64 bytes from 172.217.7.14: seq=5 ttl=37 time=0.411 ms
 ^C
 --- google.com ping statistics ---
 6 packets transmitted, 6 packets received, 0% packet loss
 round-trip min/avg/max = 0.401/0.482/0.646 ms
 / # exit
 / #  / # </pre> {% endblock %}}